<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <span> My Projects</span>
    <ul>
        <li><a href="{% url 'cmpdetails:index'%}" >HR Management System </a> </li>
        <li><a href="{% url 'dashboard:index'%}" >Cluster Dashboard</a></li>
        <li><a href="{% url 'dashboard:index_elastic'%}" > Cluster Dashboard(elastic)</a></li>
        <li><a href="{% url 'chart:index'%}" >COVID19 chart</a></li>


    </ul>

</div>

</body>
</html>